{{page-title "Gridium"}}

<div class="container">
  <div class="header">

    <LinkTo @route="index" class="logo">
      Gridium
    </LinkTo>

    <div class="links">
      <LinkTo @route="services">
        Services
      </LinkTo>

      <LinkTo @route="meters">
        Meters
      </LinkTo>
    </div>

  </div>
</div>

{{outlet}}